<% if @visit.errors.any? -%>
  console.log( "<%= @visit.errors.first %>" );
  var $visitsErrors = $("#visits_errors");
  $visitsErrors.html("<h2><%= @visit.errors.messages[:base][0] %></h2>");
  $visitsErrors.slideDown(600 , "easeInOutElastic").delay(2000).slideUp(400 , "easeInOutElastic");
<% else -%>
  $(".info")
  $("#actions_expand").stop().slideToggle(600, "easeOutBack");
  $("#action_button").text("Booked").removeClass("btn_grey");
  $("#availabilities_list").html("<%= escape_javascript( render(:partial => 'shared/availabilities_group') ) %>");
<% end -%>
