@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,500);
/* line 17, /Users/tic-tac-pro/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, .menu_large a, header ul a, h5, h6, p, #overlay_content .info p, #property_images .image_actions li, #agent_property_images .image_actions li, #actions_expand .calender ul li, .share_bar ul, input, textarea, .input_style, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, /Users/tic-tac-pro/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, /Users/tic-tac-pro/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, /Users/tic-tac-pro/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, /Users/tic-tac-pro/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, /Users/tic-tac-pro/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, /Users/tic-tac-pro/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, /Users/tic-tac-pro/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, /Users/tic-tac-pro/.rvm/gems/ruby-2.0.0-p247/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_helpers.sass */
.cf:before, #container:before, #overlay_content:before, #actions_expand .calender ul:before, #header_bar:before, .property_title .content:before, .property_title .actions:before, .share_bar:before, header:before, .cf:after, #container:after, #overlay_content:after, #actions_expand .calender ul:after, #header_bar:after, .property_title .content:after, .property_title .actions:after, .share_bar:after, header:after {
  content: " ";
  display: table;
}

/* line 7, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_helpers.sass */
.cf:after, #container:after, #overlay_content:after, #actions_expand .calender ul:after, #header_bar:after, .property_title .content:after, .property_title .actions:after, .share_bar:after, header:after {
  clear: both;
}

/* line 10, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_helpers.sass */
.cf, #container, #overlay_content, #actions_expand .calender ul, #header_bar, .property_title .content, .property_title .actions, .share_bar, header {
  *zoom: 1;
}

/* line 66, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_base.sass */
.font_base, h1, h2, h3, h4, .menu_large a, header ul a, p, #overlay_content .info p, #property_images .image_actions li, #agent_property_images .image_actions li, #actions_expand .calender ul li, .share_bar ul, input, textarea, .input_style, a, b {
  font-family: "Raleway", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
  margin: 0px;
  padding: 0px;
}

/* line 76, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_base.sass */
h1 {
  font-size: 24px;
}

/* line 78, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_base.sass */
h2 {
  font-size: 18px;
}

/* line 80, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_base.sass */
h4, .menu_large a, header ul a {
  font-size: 11px;
}

/* line 82, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_base.sass */
p, #overlay_content .info p, #property_images .image_actions li, #agent_property_images .image_actions li, #actions_expand .calender ul li, .share_bar ul, input, textarea, .input_style {
  font-size: 14px;
  line-height: 17px;
}

/* line 86, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_base.sass */
b {
  font-weight: 500;
}

/* line 90, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_base.sass */
* {
  font-family: "Raleway", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
}

/* line 105, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_base.sass */
#flash {
  display: none;
  width: 100%;
  height: 33px;
  position: absolute;
  z-index: 100;
  top: 0px;
  float: left;
  border-bottom: 1px solid #e9e9e9;
}
/* line 114, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_base.sass */
#flash .notice, #flash .alert {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.6em;
  height: 100%;
  width: 100%;
}
/* line 119, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_base.sass */
#flash .notice {
  background: #fafafa;
  color: #f5a156;
}
/* line 122, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_base.sass */
#flash .alert {
  background: #e69957;
  color: white;
}

/* line 130, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_base.sass */
.margV {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* line 6, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
html, body {
  min-width: 320px;
  position: relative;
  margin: 0px;
  width: 100%;
  height: 100%;
  background: #fafafa;
}

/* line 15, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
a {
  text-decoration: none;
}

/* line 20, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.btn, a.btn, input[type=submit].btn {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 36px;
  border-radius: 3px;
  background: #f5a156;
  border: 1px solid #e69957;
  padding: 0.75em;
  text-align: center;
  font-family: "Raleway", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 16px;
}
/* line 34, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.btn:hover, input[type=submit].btn:hover {
  background: #e69957;
}

/* line 37, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
a.btn, input[type=submit].btn {
  width: 100%;
  color: white;
  display: block;
  text-decoration: none;
}

/* line 44, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#container {
  width: 100%;
  height: 100%;
}

/* line 49, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.btn_grey {
  background: #f7f7f7 !important;
  border: 1px solid #d8d8d8 !important;
  color: #434343 !important;
}
/* line 53, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.btn_grey:hover {
  background: #e9e9e9 !important;
}

/* line 59, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#images_upload {
  width: 100%;
  padding: 30px 0px;
  background: white;
  border: 1px solid #e9e9e9;
  text-align: center;
  margin: 20px auto;
}

/* line 71, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#agent_property_images h4, #agent_property_images .menu_large a, .menu_large #agent_property_images a, #agent_property_images header ul a, header ul #agent_property_images a {
  font-size: 14px;
  line-height: 16px;
  padding: 8px 20px;
}

/* line 80, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#overlay, .overlay_group {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 10;
  background: rgba(255, 255, 255, 0.6);
}

/* line 89, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#overlay_content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  margin: 0px auto;
  padding: 10px 20px;
  background: #fafafa;
  border: 1px solid #e9e9e9;
}
@media (min-width: 481px) {
  /* line 89, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  #overlay_content {
    width: 600px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  /* line 89, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  #overlay_content {
    width: 320px;
  }
}
/* line 103, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#overlay_content .info {
  float: left;
}
/* line 106, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#overlay_content .info h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 110, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#overlay_content .info p, #overlay_content .info #property_images .image_actions li, #property_images .image_actions #overlay_content .info li, #overlay_content .info #agent_property_images .image_actions li, #agent_property_images .image_actions #overlay_content .info li, #overlay_content .info #actions_expand .calender ul li, #actions_expand .calender ul #overlay_content .info li, #overlay_content .info .share_bar ul, .share_bar #overlay_content .info ul, #overlay_content .info input, #overlay_content .info textarea, #overlay_content .info .input_style {
  padding: 20px;
  margin: 20px auto;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
/* line 117, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#overlay_content .form {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* line 130, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#property_images, #agent_property_images {
  float: left;
  width: 100%;
  position: relative;
}
/* line 134, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#property_images li, #agent_property_images li {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
}
/* line 139, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#property_images .image_actions, #agent_property_images .image_actions {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 300px;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  background: #fafafa;
  height: 100px;
  margin-top: 0px;
  position: absolute;
  top: 0;
  left: 10%;
}
/* line 153, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#property_images .image_actions li, #agent_property_images .image_actions li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  text-shadow: 1px 1px 0px white, 1px 1px 0px 1px white;
  text-shadow: 1px 1px 0px 1px white, 1px 1px 0px 1px white;
  padding: 10px;
  width: 120px;
  height: 40px;
  float: right;
  color: #e9e9e9;
}
/* line 162, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#property_images .image_actions li:first-child, #agent_property_images .image_actions li:first-child {
  float: left;
}
/* line 164, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#property_images .image_actions .true, #agent_property_images .image_actions .true {
  color: #f5a156;
  font-weight: 500;
}
/* line 167, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#property_images .image_actions .icon, #agent_property_images .image_actions .icon {
  width: 30px;
}
/* line 170, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#property_images .image_actions .full, #agent_property_images .image_actions .full {
  height: 60px;
  float: left;
  width: 100%;
  border-top: 1px solid #e9e9e9;
}

/* line 183, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.fixed_top .header_wrapper {
  overflow: visible;
  width: 100%;
  position: fixed !important;
  top: 0px !important;
}
/* line 188, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.fixed_top .header_wrapper .property_title, .fixed_top .header_wrapper #actions_expand {
  position: relative;
}
@media (min-width: 481px) {
  /* line 192, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .fixed_top .header_wrapper .property_title .share_bar {
    display: none;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  /* line 196, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .fixed_top .header_wrapper .property_title .content, .fixed_top .header_wrapper .property_title .share_bar {
    display: none;
  }
}

/* line 199, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.opacity40 {
  opacity: 0.4;
}

/* line 202, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.floatL {
  float: left;
}

/* line 209, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#property_wrapper {
  position: relative;
  width: 100%;
}
@media (min-width: 961px) {
  /* line 209, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  #property_wrapper {
    width: 961px;
    margin: 20px auto;
    float: none;
  }
}

/* line 217, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
ul#property_images, #agent_property_images {
  height: 100%;
}
/* line 219, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
ul#property_images .property_image, #agent_property_images .property_image {
  width: 100%;
  float: left;
  position: relative;
  border-bottom: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
}
/* line 226, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
ul#property_images img, #agent_property_images img {
  width: 100%;
}
/* line 229, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
ul#property_images h4, ul#property_images .menu_large a, .menu_large ul#property_images a, header ul#property_images a, #agent_property_images h4, #agent_property_images .menu_large a, .menu_large #agent_property_images a, #agent_property_images header ul a, header ul #agent_property_images a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  background: white;
  padding: 1em 20px;
  text-align: left;
}
@media (min-width: 0px) and (max-width: 600px) {
  /* line 229, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  ul#property_images h4, ul#property_images .menu_large a, .menu_large ul#property_images a, header ul#property_images a, #agent_property_images h4, #agent_property_images .menu_large a, .menu_large #agent_property_images a, #agent_property_images header ul a, header ul #agent_property_images a {
    text-align: center;
  }
}

/* line 239, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#description {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  width: 100%;
  background: white;
  border-bottom: 1px solid #e9e9e9;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e9e9e9;
}
/* line 249, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#description h1, #description h2, #description h3, #description p, #description #overlay_content .info p, #overlay_content .info #description p, #description #property_images .image_actions li, #property_images .image_actions #description li, #description #agent_property_images .image_actions li, #agent_property_images .image_actions #description li, #description #actions_expand .calender ul li, #actions_expand .calender ul #description li, #description .share_bar ul, .share_bar #description ul, #description input, #description textarea, #description .input_style {
  text-align: center;
}
/* line 251, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#description .wrap {
  padding: 20px;
}
@media (min-width: 481px) {
  /* line 254, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  #description p, #description #overlay_content .info p, #overlay_content .info #description p, #description #property_images .image_actions li, #property_images .image_actions #description li, #description #agent_property_images .image_actions li, #agent_property_images .image_actions #description li, #description #actions_expand .calender ul li, #actions_expand .calender ul #description li, #description .share_bar ul, .share_bar #description ul, #description input, #description textarea, #description .input_style {
    max-width: 600px;
    margin: 0px auto;
  }
}

/* line 263, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-bottom-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-bottomright: 3px;
  -webkit-border-bottom-right-radius: 3px;
  border-bottom-right-radius: 3px;
  display: none;
  z-index: 2;
  float: right;
  position: absolute;
  background: #fafafa;
  border-bottom: 1px solid #e9e9e9;
  right: 0px;
}
/* line 274, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .calender, #actions_expand .mobile, #actions_expand .button {
  margin: 0px;
  padding: 1em 20px;
  border-left: 1px solid #e9e9e9;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
}
/* line 280, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .calender {
  background: #fafafa;
  height: 160px;
  overflow-y: scroll;
  overflow-x: hidden;
  border-bottom: 1px solid #e9e9e9;
  margin-bottom: 20px;
}
/* line 287, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .calender .highlight {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  border-top: 1px solid #f5a156;
  border-left: 1px solid #f5a156;
}
/* line 293, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .calender .highlight li {
  border-right: 1px solid #f5a156;
  border-bottom: 1px solid #f5a156;
}
/* line 297, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .calender p, #actions_expand .calender #property_images .image_actions li, #property_images .image_actions #actions_expand .calender li, #actions_expand .calender #agent_property_images .image_actions li, #agent_property_images .image_actions #actions_expand .calender li, #actions_expand .calender ul li, #actions_expand .calender .share_bar ul, .share_bar #actions_expand .calender ul, #actions_expand .calender input, #actions_expand .calender textarea, #actions_expand .calender .input_style {
  font-size: 11px;
  text-align: center;
}
/* line 300, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .calender ul {
  width: 240px;
  margin: 12px auto;
  border-top: 1px solid #e9e9e9;
  border-left: 1px solid #e9e9e9;
}
/* line 306, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .calender ul li {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  width: 60px;
  float: left;
  padding: 1em 0.6em;
  background: white;
  border-right: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;
  text-align: center;
}
/* line 318, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .calender ul li:hover {
  background: rgba(48, 102, 109, 0.8);
  color: white;
  font-weight: 500;
  -webkit-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.17);
  box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.17);
}
/* line 323, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .calender ul li a {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  text-align: center;
  padding: 1em;
  color: rgba(245, 161, 86, 0.1);
}
/* line 333, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .calender ul li a:hover {
  background: rgba(255, 255, 255, 0.9);
  font-weight: 500;
  color: #f5a156;
}
/* line 338, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .calender ul .selected {
  background: #30666d;
  color: white;
  font-weight: 500;
  -webkit-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.17);
  box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.17);
}
/* line 343, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .calender ul .active {
  background: #f5a156;
  color: white;
  font-weight: 500;
  -webkit-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.17);
  -moz-box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.17);
  box-shadow: inset 1px 1px 4px 0px rgba(0, 0, 0, 0.17);
}
/* line 350, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .mobile {
  background: white;
}
/* line 352, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .mobile .highlight {
  border: 1px solid #f5a156;
}
/* line 354, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#actions_expand .button {
  background: #f7f7f7;
}

/* line 361, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.actions .wrapper, #actions_expand {
  width: 340px;
}

@media (min-width: 0px) and (max-width: 960px) {
  /* line 365, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .actions .wrapper, #actions_expand {
    width: 280px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  /* line 369, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .actions, #actions_expand {
    width: 100%;
  }
}
@media (min-width: 481px) and (max-width: 600px) {
  /* line 375, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  #actions_expand .calender ul {
    width: 360px;
  }
}
/* line 382, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#header_bar {
  width: 100%;
  float: left;
  position: relative;
  z-index: 5;
  top: 0px;
  left: 0px;
}
/* line 390, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
#header_bar .actions {
  display: inline;
}
@media (min-width: 0px) and (max-width: 600px) {
  /* line 393, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  #header_bar .content {
    width: 100%;
    text-align: center;
    margin-bottom: 68px;
  }
}

/* line 398, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title {
  width: 100%;
  min-height: 67px;
  position: relative;
  overflow: hidden;
  background: white;
  border-bottom: 1px solid #e9e9e9;
}
/* line 405, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .content {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  padding: 24px 20px;
}
/* line 410, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .content h1 {
  margin-bottom: 3px;
}
/* line 412, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .content h3 {
  font-size: 14px;
  color: #f5a156;
}
@media (min-width: 0px) and (max-width: 600px) {
  /* line 416, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .content h1 {
    font-size: 20px;
    line-height: 22px;
  }
}
/* line 419, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .actions {
  display: none;
  float: right;
  height: 100%;
  position: relative;
}
/* line 425, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .actions .wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  min-height: 50px;
  padding: 8px 20px;
  margin: 16px auto;
  border-left: 1px solid #e9e9e9;
}
/* line 432, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .actions .wrapper .button {
  width: 100%;
  min-height: 36px;
  margin: 0px;
}
/* line 437, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .actions .wrapper .info p, .property_title .actions .wrapper #overlay_content .info p, #overlay_content .property_title .actions .wrapper .info p, .property_title .actions .wrapper .info #property_images .image_actions li, #property_images .image_actions .property_title .actions .wrapper .info li, .property_title .actions .wrapper .info #agent_property_images .image_actions li, #agent_property_images .image_actions .property_title .actions .wrapper .info li, .property_title .actions .wrapper .info #actions_expand .calender ul li, #actions_expand .calender ul .property_title .actions .wrapper .info li, .property_title .actions .wrapper .info .share_bar ul, .share_bar .property_title .actions .wrapper .info ul, .property_title .actions .wrapper .info input, .property_title .actions .wrapper .info textarea, .property_title .actions .wrapper .info .input_style {
  font-size: 14px;
  color: #434343;
  line-height: 17px;
}
/* line 441, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .actions .wrapper .info .sub {
  font-size: 11px;
  color: #f5a156;
}
/* line 445, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .actions .wrapper {
  background: white;
}
/* line 448, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .actions .wrapper .info {
  float: left;
}
/* line 450, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .actions .wrapper .button {
  width: 112px;
  float: right;
}
/* line 456, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .availabilities .wrapper .info {
  display: none;
}
/* line 458, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.property_title .availabilities .wrapper .button {
  width: 100%;
}
@media (min-width: 0px) and (max-width: 960px) {
  /* line 463, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .actions .wrapper {
    float: right;
  }
  /* line 465, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .actions .wrapper .info, .property_title .actions .wrapper .button {
    width: 100%;
    float: left;
  }
  /* line 468, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .actions .wrapper .info {
    margin-bottom: 10px;
  }
  /* line 470, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .actions .wrapper .info .sub {
    display: none;
  }
  /* line 473, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .actions .wrapper .button {
    position: relative;
    bottom: 0px;
  }
}
@media (min-width: 0px) and (max-width: 600px) {
  /* line 478, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .content {
    width: 100%;
    text-align: center;
  }
  /* line 481, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .actions {
    width: 100%;
    position: absolute;
    bottom: 0px;
    height: 68px;
    padding: 0px;
  }
  /* line 487, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .actions .wrapper {
    padding-top: 14px;
    padding-bottom: 14px;
    margin: 0px auto;
    min-height: 36px;
    width: 100%;
    border: 0px solid #e9e9e9;
    border-top: 1px solid #e9e9e9;
  }
  /* line 495, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .actions .wrapper .info {
    display: none;
  }
  /* line 497, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .actions .wrapper .button {
    border-top: 1px solid #e9e9e9;
    width: 100%;
    float: left;
  }
  /* line 501, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .actions .wrapper .info {
    margin-bottom: 10px;
  }
  /* line 503, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .property_title .actions .wrapper .button {
    position: relative;
    bottom: 0px;
  }
}

/* line 513, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.share_bar {
  float: left;
  width: 100%;
  background: #fafafa;
  border-bottom: 1px solid #e9e9e9;
  height: 30px;
}
/* line 520, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.share_bar ul {
  text-align: right;
  padding: 0.3em 0.5em 0 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  font-size: 11px;
  margin: 0px auto;
  float: right;
  text-align: right;
}
/* line 532, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.share_bar ul a {
  height: 20px;
  width: 20px;
  float: right;
  margin-left: 8px;
  opacity: 0.2;
}
/* line 538, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.share_bar ul a img {
  height: 20px;
  width: 20px;
}
/* line 541, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.share_bar ul a:hover {
  opacity: 0.4;
}
/* line 543, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.share_bar ul .large {
  float: right;
  opacity: 1;
  color: #d8d8d8;
  width: 140px;
  padding: 4px;
}
@media (min-width: 0px) and (max-width: 600px) {
  /* line 551, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .share_bar .large {
    display: none;
  }
  /* line 553, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .share_bar ul {
    text-align: center;
  }
  /* line 555, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .share_bar ul a {
    float: none;
  }
  /* line 557, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  .share_bar ul a:first-child {
    margin: 0px;
  }
}

/* line 566, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.menu_large a, header ul a {
  -webkit-transition-property: all;
  -moz-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-duration: 400ms;
  -moz-transition-duration: 400ms;
  -o-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #f7f7f7;
  max-width: 120px;
  padding: 1em 20px;
  border-right: 1px solid #e9e9e9;
  float: left;
}
/* line 577, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.menu_large a:hover, header ul a:hover {
  background: #e9e9e9;
  color: #434343;
  border-right: 1px solid #d8d8d8;
}
/* line 581, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
.menu_large a:first-child, header ul a:first-child {
  display: none;
}

/* line 584, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
header {
  width: 100%;
  background: #fafafa;
  border-bottom: 1px solid #e9e9e9;
  overflow: hidden;
  z-index: 11;
}
/* line 593, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
header a, header a:visited, header a:hover, header a:active {
  color: #d8d8d8;
}
/* line 596, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
header h4 a, header .menu_large a a, .menu_large header a a, header ul a a {
  padding: 1em;
  float: left;
  background: #fafafa;
  border-right: 1px solid #e9e9e9;
}
/* line 601, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
header h4 a:hover, header .menu_large a a:hover, .menu_large header a a:hover, header ul a a:hover {
  background: #f5a156;
  color: white;
}
@media (min-width: 0px) and (max-width: 600px) {
  /* line 607, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  header ul a {
    border-right: 0px solid #e9e9e9;
    max-width: 0px;
    padding-left: 0px;
    padding-right: 0px;
    overflow: hidden;
  }
  /* line 613, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  header ul a:first-child {
    display: inline;
    width: 3em;
    height: 3em;
    padding: 1em 20px;
    border-right: 1px solid #e9e9e9;
    background-color: #f7f7f7;
    background: url("/assets/ui/expand/expand.svg") no-repeat center center;
  }
  /* line 621, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
  header ul a:first-child:hover {
    background-color: #e9e9e9;
  }
}
/* line 625, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
header .loggedin a {
  color: #434343;
}
/* line 627, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_main.sass */
header .loggedin a:hover {
  background: #d8d8d8;
  color: white;
}

/* line 1, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
input, textarea, .input_style {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #e9e9e9;
  font-family: "Raleway", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  outline: none;
  min-height: 36px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 2px;
  resize: none;
  padding: 10px;
  width: 100%;
  -webkit-appearance: none;
}

/* line 17, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
textarea {
  height: 72px;
}

/* line 3, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_mixins.sass */
::-webkit-input-placeholder {
  font-weight: 300;
}

/* line 3, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_mixins.sass */
:moz-placeholder {
  font-weight: 300;
}

/* line 3, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_mixins.sass */
::-moz-placeholder {
  font-weight: 300;
}

/* line 3, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_mixins.sass */
:-ms-input-placeholder {
  font-weight: 300;
}

/* line 3, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_mixins.sass */
:focus::-webkit-input-placeholder {
  color: rgba(233, 233, 233, 0);
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}

/* line 3, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_mixins.sass */
:focus:moz-placeholder {
  color: rgba(233, 233, 233, 0);
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}

/* line 3, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_mixins.sass */
:focus::-moz-placeholder {
  color: rgba(233, 233, 233, 0);
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}

/* line 3, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_mixins.sass */
:focus:-ms-input-placeholder {
  color: rgba(233, 233, 233, 0);
  -webkit-transition: color 200ms ease;
  -moz-transition: color 200ms ease;
  -o-transition: color 200ms ease;
  transition: color 200ms ease;
}

/* line 26, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.input_wrapper {
  position: relative;
  overflow: hidden;
  height: 57px;
}

/* line 31, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.text_area_wrapper {
  position: relative;
  overflow: hidden;
  height: 93px;
}

/* line 36, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.input_group {
  width: 100%;
  margin: 0px;
  position: absolute;
  bottom: 0px;
}
/* line 42, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.input_group input, .input_group .input, .input_group textarea, .input_group .textarea {
  margin-top: -14px !important;
  position: relative;
  bottom: 6px;
  left: 0px;
  width: 100%;
}
/* line 48, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.input_group input:focus, .input_group .input:focus, .input_group textarea:focus, .input_group .textarea:focus {
  margin-top: 7px !important;
}
/* line 51, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.input_group label {
  font-family: "Raleway", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-size: 11px;
  letter-spacing: 1px;
  color: #d8d8d8;
  padding: 0px 14px;
  height: 14px;
  position: relative;
}

/* line 61, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds {
  position: relative;
}
/* line 63, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds .third {
  height: 100%;
  float: left;
  position: relative;
  margin-right: 2%;
}
/* line 68, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds .third:last-child {
  margin-right: 0px;
}
/* line 70, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds .one {
  width: 32%;
}
/* line 72, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds .two {
  width: 66%;
}
/* line 74, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds .spacingR {
  margin-right: 4%;
}
/* line 76, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds .spacingL {
  margin-left: 4%;
}

/* line 79, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.form {
  width: 100%;
  float: left;
}

/* line 88, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds {
  position: relative;
}
/* line 90, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds .third {
  height: 100%;
  float: left;
  position: relative;
  margin-right: 2%;
}
/* line 95, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds .third:last-child {
  margin-right: 0px;
}
/* line 97, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds .one {
  width: 32%;
}
/* line 99, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds .two {
  width: 66%;
}
/* line 101, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds .spacingR {
  margin-right: 4%;
}
/* line 103, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.thirds .spacingL {
  margin-left: 4%;
}

/* line 110, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.availability_form {
  position: relative;
  width: 100%;
}

/* line 114, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.select_wrap {
  width: 120px;
  position: absolute;
  top: 16px;
  right: 14px;
  float: right;
}

/* line 121, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_form.sass */
.input_wrap {
  margin-right: 130px;
}

/* line 1, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_spinner.scss */
.spinner {
  margin: 100px auto;
  width: 80px;
  height: 80px;
  position: relative;
  text-align: center;
  -webkit-animation: rotate 2.0s infinite linear;
  animation: rotate 2.0s infinite linear;
}

/* line 12, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_spinner.scss */
.dot1, .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #f5a156;
  border-radius: 100%;
  -webkit-animation: bounce 2.0s infinite ease-in-out;
  animation: bounce 2.0s infinite ease-in-out;
}

/* line 25, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_spinner.scss */
.dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes rotate {
  /* line 32, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_spinner.scss */
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes rotate {
  /* line 34, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_spinner.scss */
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
  }
}

@-webkit-keyframes bounce {
  /* line 41, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_spinner.scss */
  0%, 100% {
    -webkit-transform: scale(0);
  }

  /* line 42, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_spinner.scss */
  50% {
    -webkit-transform: scale(1);
  }
}

@keyframes bounce {
  /* line 46, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_spinner.scss */
  0%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0);
  }

  /* line 49, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_spinner.scss */
  50% {
    transform: scale(1);
    -webkit-transform: scale(1);
  }
}

/* line 13, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-container {
  position: relative;
  display: inline-block;
  vertical-align: top;
}

/* line 20, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-container * {
  font-size: 14px;
  font-family: "Raleway", "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
  font-weight: 300;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  outline: none;
  white-space: nowrap;
}

/* line 37, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-container .selectboxit {
  min-width: 80px;
  cursor: pointer;
  margin: 0;
  padding: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  overflow: hidden;
  display: block;
  position: relative;
}

/* line 49, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-container span, .selectboxit-container .selectboxit-options a {
  height: 36px;
  line-height: 36px;
  display: block;
}

/* line 56, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-container .selectboxit:focus {
  outline: 0;
}

/* line 61, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit.selectboxit-disabled, .selectboxit-options .selectboxit-disabled {
  opacity: 0.65;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  cursor: default;
}

/* line 71, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-text {
  text-indent: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  float: left;
}

/* line 78, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit .selectboxit-option-icon-container {
  margin-left: 5px;
}

/* line 83, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-container .selectboxit-options {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 100%;
  *width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  cursor: pointer;
  display: none;
  z-index: 9999999999999;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  text-align: left;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

/* line 110, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-option .selectboxit-option-anchor:hover {
  text-decoration: none;
}

/* line 115, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-option, .selectboxit-optgroup-header {
  text-indent: 5px;
  margin: 0;
  list-style-type: none;
}

/* line 122, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-option-first {
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}

/* line 128, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-optgroup-header + .selectboxit-option-first {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}

/* line 134, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-option-last {
  border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
}

/* line 140, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-optgroup-header {
  font-weight: bold;
}

/* line 145, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-optgroup-header:hover {
  cursor: default;
}

/* line 150, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-arrow-container {
  width: 30px;
  position: absolute;
  right: 0;
}

/* line 158, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow {
  margin: 0 auto;
  position: absolute;
  top: 50%;
  right: 0;
  left: 0;
}

/* line 168, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit .selectboxit-arrow-container .selectboxit-arrow.ui-icon {
  top: 30%;
}

/* line 173, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-option-icon-container {
  float: left;
}

/* line 177, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-container .selectboxit-option-icon {
  margin: 0;
  padding: 0;
  vertical-align: middle;
}

/* line 184, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-option-icon-url {
  width: 18px;
  background-size: 18px 18px;
  background-repeat: no-repeat;
  height: 100%;
  background-position: center;
  float: left;
}

/* line 193, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-rendering {
  display: inline-block !important;
  *display: inline !important;
  zoom: 1 !important;
  visibility: visible !important;
  position: absolute !important;
  top: -9999px !important;
  left: -9999px !important;
}

/* line 204, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.jqueryui .ui-icon {
  background-color: inherit;
}

/* line 209, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.jqueryui .ui-icon-triangle-1-s {
  background-position: -64px -16px;
}

/* line 218, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-btn {
  background-color: #f7f7f7;
  background-repeat: repeat-x;
  border: 1px solid #e9e9e9;
}

/* line 232, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus,
.selectboxit-btn.selectboxit-enabled:active {
  color: #333333;
  background-color: #e6e6e6;
}

/* line 239, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-btn.selectboxit-enabled:hover,
.selectboxit-btn.selectboxit-enabled:focus {
  color: #333333;
  text-decoration: none;
  background-position: 0 -15px;
}

/* line 246, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-default-arrow {
  width: 0;
  height: 0;
  border-top: 4px solid #e9e9e9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

/* line 254, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-list {
  background-color: white;
  border: 1px solid #cccccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

/* line 263, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-list .selectboxit-option-anchor {
  color: #333333;
}

/* line 267, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-list > .selectboxit-focus > .selectboxit-option-anchor {
  color: white;
  background-color: #0081c2;
  background-image: -moz-linear-gradient(top, #0088cc, #0077b3);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#0088cc), to(#0077b3));
  background-image: -webkit-linear-gradient(top, #0088cc, #0077b3);
  background-image: -o-linear-gradient(top, #0088cc, #0077b3);
  background-image: linear-gradient(to bottom, #0088cc, #0077b3);
  background-repeat: repeat-x;
}

/* line 278, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/_selectboxit.sass */
.selectboxit-list > .selectboxit-disabled > .selectboxit-option-anchor {
  color: #999999;
}

/* line 7, /Users/tic-tac-pro/Code/rails/01-development/propertyshareio/app/assets/stylesheets/application.sass */
.preload * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
}
