@import compass/reset
@import compass/css3/box-sizing
@import compass/css3/border-radius
@import compass/css3/transition
@import compass/css3/images
@import compass/css3/box-shadow
@import compass/css3/filter
@import compass/css3
@import compass/utilities/sprites/base
@import breakpoint

@import helpers
@import mixins

////////////////////////////////////////////
//// =>      Sizes

$formH: 36px
$labelH: 14px
$border: 1px
$mobileW: 320px
$tabletW: 320px
$calW: 60px

////////////////////////////////////////////
//// =>      Breakpoints

$justMobile: 0px 479px
$justPhablet: 480px 599px
$justTablet: 600px 959px
$justDesktop: 960px 1100px
$justWide: 1100px

$fromMobile: 320px
$fromPhablet: 480px
$fromTablet: 600px
$fromDesktop: 960px

$upToMobile: 0px 479px
$upToPhablet: 0px 599px
$upToTablet: 0px 959px
$upToDesktop: 0px 1099px

////////////////////////////////////////////
//// =>      Colors

$darkGrey: #434343
$mainOrange: #F5A156
$mainOrangeDark: #E69957
$mainOrangeDarker: #EE6F3E
$lightGrey: #FAFAFA
$midGrey: #F7F7F7
$grey: #E9E9E9
$darkGrey: #D8D8D8
$darkerGrey: #BFBFBF

$white: #fff
$black: #434343

$dev: #f6f

////////////////////////////////////////////
//// =>      Fonts

@import url(http://fonts.googleapis.com/css?family=Raleway:200,300,500)
$mainFont: 'Raleway', "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif

.font_base
  font-family: $mainFont
  font-weight: 300
  letter-spacing: 1px
  margin: 0px
  padding: 0px

h1, h2, h3, h4, p, .sub, a
  @extend .font_base

h1
  font-size: 26px
h2
  font-size: 20px
h4
  font-size: 11px
p
  font-size: 14px
  line-height: 17px
  +breakpoint($upToPhablet)
    font-size: 16px 
    line-height: 19px


.sub
  font-size: 11px

b
  @extend .font_base
  font-weight: 500  

*
  font-family: $mainFont

.center
  text-align: center

.hidden
  display: none


////////////////////////////////////////////
//// =>    Utility Classes

.margV
  margin-top: 20px 
  margin-bottom: 20px 

.margVV
  margin-top: 40px 
  margin-bottom: 40px 

.bT_grey
  border-top: 1px solid $grey
.bB_grey
  border-bottom: 1px solid $grey

.fullW
  width: 100%

.opacity40
  opacity: 0.4

.floatL
  float: left

