$calCellH: 100px

ol.calendar
  width: 100%
  background: $lightGrey
  position: relative
  li.week
    width: 100%
    border-bottom: $border solid $grey
    &:last-child
      border-bottom: 0px solid $grey
    h3 
      +box-sizing(border-box)
      width: 100%
      font-size: 14px
      padding: 10px 6px 
      background: $white
      border-bottom: $border solid $grey
    ol.days
      @extend h4
      overflow: hidden
      .day_wrap
        +box-sizing(border-box)
        width: (100% / 7)
        float: left
        border-right: $border solid $grey
        &:last-child
          border-right: 0px
        ol.day
          +box-sizing(border-box)
          +single-transition(all, 300ms)
          overflow-y: scroll
          padding: relative
          padding: 6px
          width: 100%
          &:hover
            background: rgba($grey, 0.4)
          li
            +single-transition(all, 300ms)
            +box-sizing(border-box)
            +border-radius(8px)
            overflow: hidden
            cursor: pointer
            float: left
            height: 16px
            font-weight: 300
            max-width: 16px
            padding: 3px 0px
            margin: 2px
            color: rgba(255,255,255,0.0)
            &:hover
              padding: 3px 10px
              color: rgba(255,255,255,1)
              background: $mainOrange
              max-width: 100%
          .selected
            opacity: 1
            background: $mainOrange !important
          h4
            padding: 2px 0px 6px
            margin-bottom: 0px
            max-width: 16px
          .visit
            background: $mainOrange
          .availability
            background: #278bd2

        .today
          background: rgba($mainOrange, 0.1)
          border: 2px solid rgba($mainOrange, 0.0)
        .past
          background: rgba($grey, 0.4)
          border: 2px solid rgba($grey, 0.0)
        .weekday
          background: $lightGrey
          border: 2px solid $lightGrey
        .weekend
          background: $midGrey
          border: 2px solid $midGrey

ol.calendar.weekly
  li.week ol.days
    ol.day
      height: 170px !important
      li
        +single-transition(color, 800ms)
        color: rgba(255,255,255,1)
        padding: 3px 10px
        max-width: 100%

ol.calendar.daily
  li.week ol.days
    .day_wrap
      width: 100%
      border-right: 0px
      border-bottom: $border solid $grey
      &:last-child
        border-bottom: 0px
    ol.day
      height: $calCellH !important
      li
        color: rgba(255,255,255,1)
        padding: 3px 10px
        max-width: 100%

ol.calendar.mini
  h3
    display: none
  li.week ol.days
    ol.day
      height: 70px

////////////////////////////////////////////////
//// =>   Bookings Bar

#booking_bar
  +single-transition(all, 300ms)
  width: 100%
  height: 70px
  border-bottom: 1px solid $grey
  position: relative
  .booking_form
    overflow: hidden
    +box-sizing(border-box)
    width: 250px
    height: 100%
    float: right
    background: $lightGrey
    position: absolute
    top: 0
    right: 0
    .form
      display: none
      opacity: 0
    .wrapper
      +box-sizing(border-box)
      width: 100%
      padding: 18px 20px
      position: absolute
      bottom: 0px
      .message
        @extend p
      .input_wrapper
        margin-top: 0px
        margin-bottom: 14px

  .bookings_calendar
    height: 100%
    margin-right: 250px
    .calendar_wrap
      height: 100%

      .arrow
        +box-sizing(border-box)
        background-color: #f2f1f1
        width: 22px
        height: 100%
        border-left: $border solid $grey
        border-right: $border solid $grey
        cursor: pointer
      .left
        float: left
        background: #f2f1f1 url(image_path("ui/arrows/slider_arrow_left.svg")) no-repeat center center
        &:hover
          background: $grey url(image_path("ui/arrows/slider_arrow_left.svg")) no-repeat center center
      .right
        float: right
        background: #f2f1f1 url(image_path("ui/arrows/slider_arrow_right.svg")) no-repeat center center
        &:hover
          background: $grey url(image_path("ui/arrows/slider_arrow_right.svg")) no-repeat center center

      .calendar_block
        margin: 0px  22px
        ol.calendar 
          @extend ol.calendar.mini

  // +breakpoint($fromPhablet)

+breakpoint($upToTablet)
  #booking_bar
    height: 300px
    .bookings_calendar
      float: left
      width: 100%
      height: 300px   
      margin-right: 0px
      .calendar_wrap
        height: 100%
        overflow: scroll
        .arrow
          display: none
        .calendar_block
          margin: 0px !important
        ol.calendar
          .day_wrap
            width: 100% !important
            border-bottom: 1px solid $grey
            padding: 0px 18px
            h4
              max-width: 100% !important
              text-align: center
            ol.day
              padding-bottom: 8px
              height: auto !important
              li
                font-size: 14px
                height: 22px !important
                color: rgba(255,255,255,1) !important
                padding: 4px 12px !important
                max-width: 100% !important

    .booking_form
      border-top: $border solid $grey
      border-bottom: $border solid $grey
      position: relative
      width: 100%
      height: 80px

#booking_bar.extended
  height: 170px
  .booking_form
    .form
      opacity: 1
      display: inline
  .bookings_calendar
    ol.calendar
      @extend ol.calendar.weekly
