select, 
textarea, 
input[type="text"], 
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"] 
  font-size: 14px

input, textarea
  +box-sizing(border-box)
  +border-radius(3px)
  border: 1px solid $grey 
  font-family: $mainFont
  outline: none
  min-height: $formH
  font-size: 14px
  font-weight: 500
  letter-spacing: 2px
  resize: none
  padding: 10px
  @extend p
  width: 100%
  -webkit-appearance: none

textarea
  height: $formH * 2

+placeholder
  font-weight: 300
+placeholder(":focus")
  color: rgba($grey, 0.0)
  +single-transition(color, 200ms, ease)

.input_wrapper
  position: relative
  overflow: hidden
  height: $formH + ($labelH * 1.5)

.text_area_wrapper
  position: relative
  overflow: hidden
  height: $formH * 2 + ($labelH * 1.5)

.input_group, .input
  label
    font-family: $mainFont
    font-size: 11px
    letter-spacing: 1px
    color: rgba($darkGrey, 1)

.thirds
  @extend .cf
  position: relative
  .third
    float: left
    position: relative
  +breakpoint($fromPhablet)
    .third
      height: 100%
      margin-right: 2%
      &:last-child
        margin-right: 0px
    .one
      width: 32%
    .two
      width: 66%
    .spacingR
      margin-right: 4% 
    .spacingL
      margin-left: 4% 

  +breakpoint($upToPhablet)
    height: 170px
    .third
      height: $formH + ($labelH * 1.5) !important
      float: left
      position: relative
    .one, .two
      height: $formH + ($labelH * 1.5)
      width: 100% !important
      float: left
    .spacingR
      margin-right: 4% 
    .spacingL
      margin-left: 4% 
  
.form
  width: 100%
  float: left


/////////////////////////////////////////////////////
/// =>     Input with moving placeholder


.thirds
  position: relative
  .third
    height: 100%
    float: left
    position: relative
    margin-right: 2%
    &:last-child
      margin-right: 0px
  .one
    width: 32%
  .two
    width: 66%
  .spacingR
    margin-right: 4% 
  .spacingL
    margin-left: 4% 


/////////////////////////////////////////////////////
/// =>     Input with moving placeholder

.availability_form
  position: relative
  width: 100%

.select_wrap
  width: 120px
  position: absolute
  top: 16px
  right: 14px
  float: right

.input_wrap
  margin-right: 130px

.input
  margin-bottom: 10px

select
  font-family: $mainFont
  font-weight: 300
  height: 37px
  padding: 8px 12px
  width: 100%

.nested-fields
  border: 1px solid #ccc
  padding: 10px
  border-radius: 3px
  margin-bottom: 5px

#submit_form
  width: 100%

.select2-input
  min-width: 300px