input, textarea, .input_style
  +box-sizing(border-box)
  +border-radius(3px)
  border: 1px solid $grey 
  font-family: $mainFont
  outline: none
  min-height: $formH
  font-size: 14px
  font-weight: 500
  letter-spacing: 2px
  resize: none
  padding: 10px
  @extend p
  width: 100%
  -webkit-appearance: none

textarea
  height: $formH * 2

+placeholder
  font-weight: 300
+placeholder(":focus")
  color: rgba($grey, 0.0)
  +single-transition(color, 200ms, ease)

.input_wrapper
  position: relative
  overflow: hidden
  height: $formH + ($labelH * 1.5)

.text_area_wrapper
  position: relative
  overflow: hidden
  height: $formH * 2 + ($labelH * 1.5)

.input_group
  width: 100%
  margin: 0px
  position: absolute
  bottom: 0px

  input, .input, textarea, .textarea
    margin-top: -$labelH !important
    position: relative
    bottom: 6px
    left: 0px
    width: 100%
    &:focus
      margin-top: ($labelH / 2) !important

  label
    font-family: $mainFont
    font-size: 11px
    letter-spacing: 1px
    color: rgba($darkGrey, 1)
    padding: 0px 14px
    height: $labelH
    position: relative


.thirds
  position: relative
  .third
    height: 100%
    float: left
    position: relative
    margin-right: 2%
    &:last-child
      margin-right: 0px
  .one
    width: 32%
  .two
    width: 66%
  .spacingR
    margin-right: 4% 
  .spacingL
    margin-left: 4% 

.form
  width: 100%
  float: left


/////////////////////////////////////////////////////
/// =>     Input with moving placeholder


.thirds
  position: relative
  .third
    height: 100%
    float: left
    position: relative
    margin-right: 2%
    &:last-child
      margin-right: 0px
  .one
    width: 32%
  .two
    width: 66%
  .spacingR
    margin-right: 4% 
  .spacingL
    margin-left: 4% 


/////////////////////////////////////////////////////
/// =>     Input with moving placeholder

.availability_form
  position: relative
  width: 100%

.select_wrap
  width: 120px
  position: absolute
  top: 16px
  right: 14px
  float: right

.input_wrap
  margin-right: 130px

// .input_wrapper, .text_area_wrapper
//   position: relative
//   overflow: hidden
//   margin: 6px auto

// .input_wrapper
//   height: $formH + $labelH

// .text_area_wrapper
//   height: $textAreaH + $labelH

// .input_group
//   width: 100%
//   margin: 0px
//   position: absolute
//   bottom: 0px

//   input, .input, textarea, .textarea
//     margin-left: 0px
//     margin-right: 0px
//     margin-bottom: 0px
//     position: relative
//     bottom: 0px
//     left: 0px
//     width: 100%
//     margin-top: - ( $formH + $labelH )
//     &:focus
//       // +transition-property(border, margin-top)
//       // +transition-duration(400ms, 100ms)
//       // +transition-timing-function(ease-out)

//   input, .input
//     margin-top: - ( $formH + $labelH )
//     &:focus
//       margin-top: 8px

//   textarea, .textarea
//     margin-top: - ( $textAreaH + $labelH )
//     height: $textAreaH
//     &:focus
//       margin-top: 8px

//   label
//     font-family: $mainFont
//     font-size: 12px
//     letter-spacing: 1px
//     color: rgba($mainOrange, 0.8)
//     padding: 0px 14px
//     height: $labelH
//     position: relative
//     left: 0px
//     bottom: -4px

// .mainOrange
//   label
//     color: rgba($white, 0.8)

// .grey
//   label
//     color: rgba($mainOrange, 0.8)


