html, body
  min-width: $mobileW
  margin: 0px
  width: 100%
  height: 100%
  font-family: $mainFont
  font-weight: 300

#container
  background: $white
  // text-align: center
  height: 100%
  width: 100%
  margin:
    top: 0px
    left: auto
    right: auto
    bottom: 0px
  min-height: 400px
  display: block
  position: relative

.wrapper
  min-width: $mobileW
  max-width: 480px
  margin: 0px auto

ul.hmenu
  list-style: none
  margin: 0 0 2em
  padding: 0

ul.hmenu li
  display: inline 

.block
  position: relative
  background: $lightGrey

.divider
  width: 100%
  height: $dividerH

.btn
  @extend .input_style
  text-align: center
  font-family: $mainFont
  color: $white
  position: relative
  text-decoration: none
  padding: 14px 20px
  background: $mainOrange
  margin: 0px
  &:hover
    background: $mainOrangeDark

.main_divider
  width: 100%
  height: $textPadH

.logo
  width: 100%
  height: 100%
  position: absolute
  top: 0px
  left: 0px

.explination
  +border-radius(20px)
  width: 80%
  min-width: 240px
  max-width: 480px
  margin: 0px auto
  padding: 30px 0px
  background: rgba($white, 1)

.maxV
  max-height: 400px

.section
  +transition-property(all)
  +transition-duration(800ms)
  +transition-timing-function(ease-out)


////////////////////////////////////////////////
//// =>   Main Elements

.hide
  width: $pokeOut !important
  overflow: hidden !important

.agent_info, .property_info
  height: 100%
  top: 0px
  left: 0px
  h2
    border-top: 1px solid $mainOrange
    border-bottom: 1px solid $mainOrange
    &:first-child
      border-top: none
  .summary
    padding: 0px
    text-align: center

.property_info
  .description
    h2, p
      text-align: left

.information_block
  float: right
  position: relative
  z-index: 1
  width: 100%
  height: 100%
  // +box-shadow(rgba($black, 0.3) -4px 4px 8px)
  min-height: 716px
  background: $lightGrey
  border-top: 1px solid $mainOrange
  // // border-left: 4px solid $white
  max-width: $mobileW + 40px
  h2
    padding-top: 20px
    padding-bottom: 20px
    color: $mainOrange
    background: $lightGrey

.main_block
  border-top: 1px solid $mainOrange
  height: 100%
  position: relative
  margin: 0px
  padding: 0px
  overflow-x: hidden
  overflow-y: scroll
  // position: relative


.overlay_group
  z-index: 10
  width: 100%
  height: 100%
  position: fixed
  top: 0px
  left: 0px

  #overlay
    width: 100%
    height: 100%
    background-color: rgba($white, 0.85)

  #overlay_cross
    +box-sizing(border-box)
    +border-radius($formH/2)
    border: $border solid $mainOrange
    color: $mainOrange
    padding: 11px
    text-align: center
    width: $formH
    height: $formH
    font-family: $mainFont
    position: absolute
    top: $formH / 2
    right: $formH / 2
    cursor: pointer
    &:hover
      background: $mainOrange
      color: $white


////////////////////////////////////////////////
//// =>   Property Related Styles

.properties
  overflow-y: scroll
  h4
    text-align: left
    padding-left: 10px
    padding-bottom: 6px
    background: $white
    border-top: $border solid $lightGrey
    // border-bottom: $border solid $mainOrange
  img
    width: 100%
  #preview_property_map
    height: 0px
    background: url(image_path("ui/preview_map.jpg")) no-repeat
    background-size: cover
    background-position: center bottom

.minified
  .summary
    height: 0px !important
    overflow: hidden

#availabilities_section
  width: 100%
  position: absolute
  bottom: 0px

#availabilities_list
  position: relative
  height: 320px
  width: 100%
  overflow-y: scroll
  overflow-x: hidden
  .form
    min-height: 320px

.scroll_gradient_orange
  +background-image(linear-gradient(top, $mainOrangeDark 0%, rgba($mainOrangeDark,0.00) $scrollGradient, rgba($mainOrangeDark,0.00) 95%, $mainOrangeDark 100%))
  background-position: fixed
  border-top: 1px solid $mainOrangeDark
  border-bottom: 1px solid $mainOrangeDark

.scroll_gradient_orange_front
  +background-image(linear-gradient(top, $mainOrange ($scrollGradient), rgba($mainOrange,0.00) ($scrollGradient + 1%), rgba($mainOrange,0.00) (100% - $scrollGradient), $mainOrange (101% - $scrollGradient)))

.scroll_gradient_grey
  +background-image(linear-gradient(top, $darkGrey 0%, rgba($darkGrey,0.00) $scrollGradient, rgba($darkGrey,0.00) 95%, $darkGrey 100%))
  background-position: fixed
  border-top: 1px solid $darkGrey
  border-bottom: 1px solid $darkGrey

.scroll_gradient_grey_front
  +background-image(linear-gradient(top, $lightGrey ($scrollGradient), rgba($lightGrey,0.00) ($scrollGradient + 1%), rgba($lightGrey,0.00) (100% - $scrollGradient), $lightGrey (101% - $scrollGradient)))


////////////////////////////////////////////
//// =>      Property Page

#main_image
  position: relative
  // float: left
  +box-sizing(border-box)
  width: 100%
  height: 100%
  max-height: 100%
  // max-height: 700px
  overflow: hidden
  margin: 0px
  padding: 0px
  min-height: 40px
  img
    height: 100%
    min-width: 100%
    position: relative
    bottom: $main_barH
  .info_bar
    +box-sizing(border-box)
    width: 100%
    height: $main_barH
    padding: 16px 0px
    background: $lightGrey
    border-top: 1px solid $darkGrey
    position: absolute
    bottom: 0px
    h1, h2, h3, h4, p
      text-align: left

.main_content
  position: relative
  border-top: 1px solid $darkGrey

.property
  width: 100%
  margin: 0px
  padding: 0px
  position: relative

  img  
    width: 100%
    margin: 0px
    padding: 0px

  .map
    height: 40px
    width: 100%
    overflow: hidden

  .content_wrapper
    position: relative
    width: 100%

  .images
    // width: 100%
    // max-width: 600px
    // margin-right: $mobileW
    float: left
    overflow: hidden
    // h4
    //   text-align: left
    //   padding-left: 10px
    //   padding-bottom: 6px
    //   border-top: $border solid $lightGrey
    //   border-bottom: $border solid $mainOrange

  .information_block
    // +box-shadow(rgba($black, 0.3) -4px 0px 8px)
    position: fixed
    min-height: 716px
    // border-left: 4px solid $white
    top: 0
    right: 0
    width: 100%
    height: 100%
    // max-width: $mobileW
    max-width: $mobileW

  .description
    width: 100%
    position: relative
    p
      text-align: left
    .text
      // height: 200px
      overflow: hidden

  .bookings
    width: 100%
    position: absolute
    bottom: 0px
    h2
      padding-top: 20px
      padding-bottom: 20px
      color: $mainOrange
      background: $lightGrey
    .expand
      +background-image(linear-gradient(top, rgba($white,0), rgba($white,0.8) 05% , rgba($white, 1) 70%) )
      width: 100%
      height: 20px
      padding: 26px 0px 16px
      border-top: 1px solid $grey
      // position: absolute
      // top: 0px
      // left: 0px
    .sub
      font-size: 11px
    .form
      // width: 100%
      position: relative
      h4
        +border-radius(40px)
        +background-image(linear-gradient(top, rgba(#F57F51,0), rgba(#F48956, 1)) )
        font-family: Raleway-Medium
        width: 100%
        color: $lightGrey
        margin: 10px auto


  .info
    width: 100%
    padding: 20px 0px
    text-align: left
    border-top: $border solid $grey
    border-bottom: $border solid $grey
    background: $white
    h1, h2, h3
      padding-top: 2px
      padding-bottom: 2px
    h1, h2
      color: $black
    h3
      color: $mainOrange
      // background: rgba($white, 0.6)
  .main_info
    width: $mobileW
    position: absolute
    top: 30px
    left: 0px
    ul
      padding: 10px 0px
      background: $lightGrey
      li
        +border-radius(20px)
        +box-sizing(border-box)
        height: 20px
        padding: 10px 14px
        margin: 10px 
        border: $border solid $mainOrange
